* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.image{
    min-height: 100vh;
    width: 100%;
    background-image: url(map.jpg);
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(2px);
}
.vijay{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.card {
    width: 40%;
    color: #fff;
    border-radius: 20px;
    padding: 40px 20px;
    text-align: center;
    border: 10px solid blanchedalmond;
    background-color: rgba(0, 0, 0, 0.5);
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 24px;
    width: 80%;
    font-size: 18px;
}
button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    aspect-ratio: 1;
    cursor: pointer;
    font-size: 1.5rem;
    text-align: center;
}
.Weather{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.icon{
    width: 170px;
    margin-top: 30px;
}
h1{
    font-size: 80px;
    font-weight: 500;
}
h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
    gap: 20px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
img{
    width: 100px;
    margin-top: 10px;
}
.humidity,.wind{
    font-size: 20px;
    margin-top: -6px;
}
button {
    border: none;
    outline: none;
    color: black;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }
  
  button:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbn5 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowingbn5 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  button:active {
    color: #000;
  }
  
  button:active:after {
    background: transparent;
  }
  
  button:hover:before {
    opacity: 1;
  }
  
  button:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
  }



  .card {
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    /* background-image: linear-gradient(45deg, #4568dc, #b06ab3); */
    padding: 0.7em 2em;
    border-radius: 65px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: white;
  }
  
  .card .text {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* background-image: linear-gradient(45deg, #4568dc, #b06ab3); */
  }
  
  .card:after {
    content: "";
    border-radius: 18px;
    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
  
  .card:hover {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
  }
  
  .card:hover .text {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  }

@media only screen and (max-width: 600px) {
    .card {
        width: 80%;
        color: #fff;
        border-radius: 20px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
    }
    input {
        background: #ebfffc;
        color: #555;
        height: 30px;
        border-radius: 20px;
        width: 100%;
        font-size: 18px;
    }
    button{
        background: #ebfffc;
        border-radius: 50%;
        width: 40px;
        aspect-ratio: 1;
        cursor: pointer;
        font-size: 1rem;
        text-align: center;
    }
    h1{
        font-size: 40px;
        font-weight: 500;
    }
    h2{
        font-size: 20px;
        font-weight: 400;
    }
    img{
        width: 150px;
    }
    .col{
        display: flex;
        align-items: center;
        text-align: center;
    }
    .humidity,.wind{
        font-size: 20px;
        text-align: center;
    }
    .details{
        text-align: center;
    }
}
